/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content-margin {
        margin-left: 10px;
        margin-right: 10px;
    }
    .end-content-margin {
        margin-bottom: 50px;
    }
    .card-width {
        width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .content-margin {
        margin-left: 10px;
        margin-right: 10px;
    }
    .end-content-margin {
        margin-bottom: 50px;
    }
    .card-width {
        width: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content-margin {
        margin-left: 10px;
        margin-right: 10px;
    }
    .end-content-margin {
        margin-bottom: 50px;
    }
    .card-width {
        width: 90%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-mid {
        margin-left: 30px;
        margin-right: 30px;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar-mid {
        margin-left: 30px;
        margin-right: 30px;
    }
}

.bg-light {
    background-color: #f4f9ff;
}

.bg-dark-light {
    background-color: #eef2f5;
}

.bg-darken-light {
    background-color: #c0e7e6;
}

.btn-user {
    border: none; 
    background-color: transparent;
}

.color-primary {
    color: #5a68d3;
}

.margin-section {
    margin-top: 30px;
}

.margin-child {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pad-col-left {
    padding-left: 10px;
}

.pad-col-right {
    padding-right: 10px;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bottom-center {
    position: absolute;
    width: 100%;
    background-color: #5a68d3 !important;
    color: #fff !important;
    text-align: center !important;
    padding: 10px 0 !important;
}